body{
    display:flex;
    flex-direction:column;
    min-height: 100vh;
    margin: 0;;
}


.header{
    display:flex;
    flex-direction:column;
    padding-left: 25px;
    align-items: center;
}

.buttons{
    display:flex;
    flex-direction:row;
    justify-content: center;   
}

.image{
    display:flex;
    flex-direction:row;
    justify-content: center;   
}

.selection{
    display:flex;
    flex-direction:row;
    justify-content: center;   
}

.scoreBoard{
    display:flex;
    flex-direction:row;
    justify-content: center;  
    align-content: center;   
}

.scoreBoard h2{
    padding: 50px; 
}

.resetButton{
    display:flex;
    flex-direction:row;
    justify-content: center;   
}